@import "styleC.css";

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    color: #000; /* Texto negro */
}

/* Estilos del perfil */
.profile-container {
    width: 300px;
    background-color: #ffffff; /* Fondo negro */
    padding: 20px;
    box-sizing: border-box;
    float: left; /* Alinear a la izquierda */
    margin-right: 20px;
    margin-left: 0;
    color: #000000; /* Texto blanco */
}

.settings-menu {
    margin-top: 20px;
}

.settings-menu h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.settings-menu ul {
    list-style-type: none;
    padding: 0;
}

.settings-menu li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

.settings-menu a {
    color: #000000; /* Texto blanco */
    text-decoration: none;
    transition: color 0.3s ease;
}

.settings-menu ul li a {
    color: #000000; /* Texto blanco */
    text-decoration: none; /* Sin subrayado */
}

.settings-menu a:hover {
    color: #007bff; /* Enlace en azul */
}

/* Estilos de secciones centrales */
.seccionesCen {
    padding: 20px;
    background-color: #ffffff; /* Fondo negro */
    box-sizing: border-box;
    margin-left: 340px; /* Espacio para el perfil */
    margin-bottom: 20px; /* Espacio entre secciones y publicaciones */
    color: #000000; /* Texto blanco */
}

/* Estilos de los detalles de configuración */
.settings-details h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.settings-details p {
    margin-bottom: 10px; /* Espacio entre párrafos */
    font-size: 20px;
}

/* Estilos de las publicaciones */
.publications {
    padding: 20px;
    background-color: #ffffff; /* Fondo negro */
    box-sizing: border-box;
    margin-left: 340px; /* Espacio para el perfil */
    margin-bottom: 20px; /* Espacio entre secciones y publicaciones */
    font-size: 20px;
    color: #000000; /* Texto blanco */
}

/* Estilos de las tarjetas de publicación */
.publication-card {
    background-color: #131313; /* Fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio entre tarjetas */
    font-size: 15px;
    color: #ffffff; /* Texto negro */
}

.card {
    background-color: #000000; /* Fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px; /* Espacio entre tarjetas */
}

.card h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.card p {
    margin-bottom: 10px; /* Espacio entre párrafos */
}

/* Estilos del pie de página */
#footer {
    text-align: center;
    margin-top: 20px;
}

#footer p {
    font-size: 0.8em;
    color: #777;
}

#footer a {
    color: #007bff;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}
