@import "styleC.css";
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Fondo negro puro */
    color: #ffffff; /* Texto blanco puro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece la altura mínima del cuerpo como el 100% de la altura de la ventana */
}

.container {
    flex-grow: 1; /* Hace que el contenedor principal ocupe el espacio restante */
}

header {
    background-color: #000000; /* Fondo negro puro */
    color: #ffffff; /* Texto blanco puro */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    color: #ffffff; /* Texto blanco puro */
    text-decoration: none;
    margin: 0 15px;
}

.logo {
    font-size: 24px;
}

.main-content {
    display: flex;
    padding: 20px;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 20%;
    background-color: #000000; /* Fondo negro puro */
    padding: 10px;
    color: #ffffff; /* Texto blanco puro */
    border-radius: 5px;
    margin-right: 20px;
    height: 600px;
    overflow: auto;
}

.filters > div, .filters > h2, .filters > h3 {
    width: 100%;
    margin-bottom: 10px;
}

.filters label {
    display: block;
    margin-bottom: 5px;
}

.filters input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilos de los resultados de búsqueda */
.search-results {
    width: 100%; /* Ocupa todo el ancho disponible */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000; /* Fondo negro puro */
}

#seccionesCen {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.result img {
    width: 100%;
    height: auto;
}

.card {
    background-color: #ffffff; /* Fondo blanco puro */
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    width: 20%;
    flex: 0 1 30%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card a {
    color: #000000; /* Texto negro puro */
    text-decoration: none;
    display: block;
    padding: 10px;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content h2 {
    margin-top: 0;
}

.card-content .stars {
    color: orange; /* Cambiar color de estrellas si es necesario */
}

/* Estilos del pie de página */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000; /* Fondo negro puro */
    color: #ffffff; /* Texto blanco puro */
    padding: 10px 20px;
}

/* Estilos del formulario de búsqueda */
form {
    height: 100%;
    width: 25%; /* Ancho del formulario */
    margin: auto; /* Centrar el formulario horizontalmente */
    padding: 10px; /* Añadir un espacio interno al formulario */
}
