@import "styleC.css";

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-btn {
    background-color: #000000; 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 20px; 
    margin: 0 10px;
    box-shadow: 0 0 0 0.75px #ffff00; 
}


.tab-btn.active {
    background-color: #ffffff; 
    color: #000000; 
}

.tab-btn:hover {
    background-color: #ffffff; 
    color: #000000;
}

.group-works {
    color: #ffffff; 
    font-size: 18px;
    margin-top: 20px; 
    margin-left: 20px; 
}

.group-works h3 {
    color: #ffffff; 
}

.carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.carousel::-webkit-scrollbar {
    display: none; 
}

.work {
    background-color: rgb(20, 20, 20);
    color: #ffffff; 
    border-radius: 10px;
    margin-right: 20px;
    flex: 0 0 auto; 
    width: 250px; 
    height: 300px; 
}

.work img {
    display: block; 
    margin: 10px auto 0; 
    width: 90%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.work-details {
    padding: 10px;
    margin-top: -15px;
    font-size: 14px;
}

.model-3d {
    color: #ffffff; 
    font-size: 18px;
    margin-top: 20px; 
    margin-left: 20px; 
}

.model-3d h3 {
    color: #ffffff; 
}

.model-3d .carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.model-3d .carousel::-webkit-scrollbar {
    display: none; 
}

.model-3d .work {
    background-color: rgb(20, 20, 20);
    color: #ffffff; 
    border-radius: 10px;
    margin-right: 20px;
    flex: 0 0 auto; 
    width: 250px; 
    height: 300px;
}

.model-3d .work img {
    display: block; 
    margin: 10px auto 0;
    width: 90%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.model-3d .work-details {
    padding: 10px;
    margin-top: -15px;
    font-size: 13px;
}

.model-3d .work-title {
    font-weight: bold; 
}
