body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.logo {
    font-size: 24px;
}

.main-content {
    display: flex;
    padding: 20px;
}

.filters {
    flex-basis: 20%;
    background-color: #204060;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-right: 20px;
    height: fit-content;
}

.search-results {
    flex-grow: 1;
    color: white;
    background-color: #204060;
    border-radius: 5px;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

    
}

.result img {
    width: 100%;
    height: auto;
}

.card {
    background-color: rgb(48, 188, 239);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    width: 20%;

    flex: 0 1 30%; /* Each card will take up roughly 30% of the container's width, allowing for three cards per row */
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 10px;

    
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content h2 {
    margin-top: 0;
}

.card-content .stars {
    color: orange;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .filters,
    .search-results {
        width: 100%;
    }
}
