img {
    border-radius: 10px;

}

div {
    border-radius: 10px;

}

:root {
    --main-bg-color: brown;
    --azulOscuro: #003366;
    --azulNormal: #336699;
    --blancoHueso: antiquewhite;
}

.sombra {
    box-shadow: 5px 5px 10px rgb(23, 23, 23);
}

body {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(to bottom, #1E5E99, #737373);
    height: 100vh;
}



/* //////////////////////////// */

/* HEADER */

header{
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding-block: 20px;
    padding-inline: 15px;
}

/* Estilos base para los enlaces en el nav */
header nav a {
    display: inline-block;  /* O puedes usar flex si los enlaces están en un flex container */
    padding: 10px 15px;     /* Ajusta el padding según el diseño */
    color: #ffffff;         /* Asumiendo texto blanco */
    text-decoration: none;  /* Elimina subrayado de enlaces */
    transition: background-color 0.3s ease; /* Transición suave del fondo */
    border-radius: 10px;
}

/* Estilos para hover */
header nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Color más claro en el fondo */
}

/* Opcional: estilos para los iconos si son parte de un sprite o fuente de iconos */
header nav a i {
    margin-right: 5px;  /* Espacio entre el icono y el texto, si necesario */
}


#izq{
    float: left;
    /* background-color: chartreuse; */
    width: 10%;
    display: flex;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;


    img{
        width: 80px;
        height: 80px;
    
    }
}
#cen{
    float: center;
    background-color: var(--azulNormal);
    width: 70%;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    text-shadow:0px 0px 5px rgba(255, 255, 255, 0.453);
}
#dch{
    float: right;
    /* background-color:darkred; */
    width: 15%;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-size: 40px;
    text-shadow:2px 2px 4px rgb(56, 56, 56);
    line-height: 10px;
}

ul {
    display: none;
}

input:checked~ul {
    display: block;
}
/*---------------------------------Esto hazlo por id y luego manda foto----------------------------------*/
/*
input {
    display: none;
}

label {
    box-sizing: border-box;
    display: inline-block;
    border: 3px solid black;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    user-select: none;
}*/

li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    width:fit-content;
    list-style: none;
    border-bottom: 1px solid grey;
}


/* _HEADER_ */