
@import "style.css";
.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@font-face {
    font-family: titulos;
    src: url(../letras/letra_titulo.ttf);
}

@font-face {
    font-family: texto;
    src: url(../letras/Texto.ttf);
}

body, button {
    font-family: 'texto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'titulos', serif; 
}


.tab-btn {
    background-color: #438ACC;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 20px; 
    margin: 0 10px; 
    
}

.tab-btn.active {
    background-color: #88ADCE;
}

.tab-btn:hover {
    background-color: #5b9cf3;
}

.group-works {
    color: black; 
    font-size: 18px;
    margin-top: 20px; 
    margin-left: 20px; 
}

.group-works {
    margin-top: 20px;
    margin-left: 20px;
}

.group-works h3 {
    color: black;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.carousel::-webkit-scrollbar {
    display: none; 
}

.work {
    background-color: #184B7A;
    color: white;
    border-radius: 10px;
    margin-right: 20px;
    flex: 0 0 auto; 
    width: 250px; 
    height: 300px;
}


.work img {
    display: block; 
    margin: 10px auto 0; 
    width: 90%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.work-details {
    padding: 10px;
    margin-top: -15px;
    font-size: 14px;
}


.model-3d {
    color: black; 
    font-size: 18px;
    margin-top: 20px; 
    margin-left: 20px; 
}

.model-3d h3 {
    color: black;
}

.model-3d .carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.model-3d .carousel::-webkit-scrollbar {
    display: none; 
}

.model-3d .work {
    background-color: #184B7A;
    color: white;
    border-radius: 10px;
    margin-right: 20px;
    flex: 0 0 auto; 
    width: 250px; 
    height: 300px; 
}

.model-3d .work img {
    display: block; 
    margin: 10px auto 0; 
    width: 90%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.model-3d .work-details {
    padding: 10px;
    margin-top: -15px;
    font-size: 13px;
}

.model-3d .work-title {
    font-weight: bold;
}
