@import "styleN.css";

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: white; 
}

nav {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    display: flex;
}


.left-column,
.right-column {
    flex: 1;
    height: 100vh; 
    margin: 0 10px; 
    padding: 20px;
}


.left-column {

    background-color: #000000; 

    max-height: calc(100vh); 

    overflow-y: hidden; 

    scroll-behavior: smooth; 
    color: white;

}

.left-column:hover {
    overflow-y: scroll; 
}


.right-column {

    background-color: #000000; 

    max-height: calc(100vh); 

    overflow-y: hidden;

    scroll-behavior: smooth; 
    color: white;

}

.right-column:hover {
    overflow-y: scroll;
}


.documents {
    display: flex;
    flex-wrap: wrap; 
}

.carousel-wrapper {
    margin-bottom: 20px; 
}

.carousel {
    display: flex; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch; 
    scroll-behavior: smooth; 
}
.collection {
    background-color: #222; 
    margin-bottom: 20px; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    max-width: calc(100% - 40px); 
    max-height: calc(100vh - 120px); 
    overflow-x: hidden; 
    overflow-y: auto; 
}


.collection h3 {
    margin-top: 0; 
    color: white; 
}

.documents {
    display: flex; 
    flex-wrap: wrap; 
    max-width: calc(100% - 40px);
}

.work {
    flex: 0 0 calc(33.33% - 20px); 
    margin-right: 20px; 
    margin-bottom: 20px;
    text-decoration: none; 
    color: inherit; 
    max-width: calc(33.33% - 20px); 
}

.work:last-child {
    margin-right: 0; 
}

.work img {
    width: 100%; 
    border-radius: 8px;
}

.work-details {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
}

.work-details h4 {
    margin-top: 0; 
}

.work-details p {
    margin: 5px 0; 
}

.documents .work.hidden {
    display: none;
}

.card {
    background-color: #222; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    width: 750px; 
    margin-right: 20px;
}

.card:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.card a {
    color: white; 
    text-decoration: none;
    display: block;
    padding: 10px;   
}

.card-image {
    height: auto;
}

.card-content {
    padding: 10px; 
}

.card-content h2 {
    margin-top: 0;
}

.card-content .stars {
    color: orange;
}

.right-column .card {
    width: 600px; 
    margin-right: 20px; 
}
