@import "funcionales/noche/styleN.css";

main {
    width: auto;
    height: auto;
    padding-inline: 0; 
    display: flex;
    justify-content: space-around;
}

header {
    margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}

#body_izq {
    float: left;
    width: 54%;
    height: auto;
    padding: 5px;
    background-color: #1b1b1b; /* Cambio a un azul oscuro */
}

#body_dch {
    float: right;
    width: 40%;
    padding: 5px;
    margin-left: 5px;
}

#publicacion {
    padding: 5px;
}

#publicacion_arr {
    display: flex;
    padding: 10px;
}

#publicacion_arr img {
    width: 500px;
    height: 350px;
}

#publicacion_arr #descripcion {
    float: right;
    width: 30%;
    height: auto;
    margin-left: auto;
    padding: 20px;
    background-color: #1b1b1b; /* Cambio a un blanco hueso */
}

#publicacion_abj {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 10px;
    justify-content: space-around;
    display: flex;
    padding-block: 5px;
    border: 2px dashed black;
}

#publicacion_abj img {
    width: 100px;
    height: 100px;
}

#body_arr {
    background-color: #1b1b1b; 
    padding: 8px;
    margin-bottom: 10px;
}

#contenedorTexto {
    background-color: #1b1b1b; /* Cambio a un blanco hueso */
    justify-content: space-around;
    padding-block: 10px;
    padding-inline: 20px;   
}

#body_abj { 
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1b1b1b; 
    padding: 8px;
}

#titulo {
    color: white;
    font-size: 30px;
    margin-left: 20px;
}
