@font-face {
    font-family: titulos;
    src: url(../letras/letra_titulo.ttf);
}

/* Fuente texto */
@font-face {
    font-family: texto;
    src: url(../letras/Texto.ttf);
}

.paginacentral {
    text-align: center;
}

img {
    border-radius: 10px;
}

div {
    border-radius: 10px;
}

main {
    padding: 20px;
    display: flex;
}

:root {
    --main-bg-color: #1a1a1a; /* Fondo principal oscuro */
    --azulOscuro: #003366;
    --azulNormal: #333333;
    --azulClaro: #73ff75;
    --blancoHueso: #d9d9d9; /* Blanco hueso más oscuro */
}

.sombra {
    box-shadow: 5px 5px 10px rgb(0, 0, 0); /* Sombras más oscuras */
}

body {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(to bottom, #121212, #333333); /* Gradiente más oscuro */
    color: #eaeaea; /* Texto claro */
    height: 100%;
}

footer {
    margin-top: 10px;
    background-color: #1f1f1f; /* Fondo oscuro */
    color: #eaeaea; /* Texto claro */
    text-align: center;
    padding: 10px 0;
}

/* HEADER */
header {
    background-color: #1f1f1f; /* Fondo oscuro */
    color: #eaeaea; /* Texto claro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-block: 20px;
    padding-inline: 15px;
    border-radius: 20px;
    margin-block: 10px;
    margin-inline: 20px;
}

header ul {
    display: none;
}

header input:checked~ul {
    display: block;
}

/* Estilos base para los enlaces en el nav */
header nav a {
    display: inline-block;
    padding: 10px 15px;
    color: #eaeaea; /* Texto claro */
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

/* Estilos para hover */
header nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo claro al hacer hover */
}

header nav a i {
    margin-right: 5px;
}

#izq {
    float: left;
    width: 10%;
    display: flex;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}

#izq img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#cen {
    float: center;
    background-color: var(--azulNormal);
    width: 70%;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 20px;
    font-size: 35px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.453);
}

#dch {
    float: right;
    width: 15%;
    text-align: center;
    font-family: titulos;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgb(56, 56, 56);
    line-height: 10px;
}

#menu {
    display: none;
}

#label_header {
    box-sizing: border-box;
    display: inline-block;
    border: 3px solid #444; /* Bordes oscuros */
    border-radius: 40px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    font-size: 54px;
}

.link_menu {
    display: block;
    background: #333; /* Fondo oscuro */
    color: #eaeaea; /* Texto claro */
    margin: 0;
    padding: 10px;
    width: fit-content;
    list-style: none;
    border-bottom: 1px solid #555; /* Borde oscuro */
}

.fa-solid {
    color: #eaeaea !important; /* Texto claro */
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: #eaeaea; /* Texto claro */
    font-size: 40px;
    border: none;
    cursor: pointer;
    padding: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333; /* Fondo oscuro */
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7); /* Sombra más oscura */
    z-index: 1;
}

.dropdown-content a {
    color: #eaeaea; /* Texto claro */
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #444444; /* Fondo más claro al hacer hover */
}

/* Mostrar el contenido cuando se pasa el ratón sobre el botón */
.dropdown:hover .dropdown-content {
    display: block;
}
