@import "styleS.css";

main {
    width: auto;
    height: auto;
    padding-inline: 0; 
    display: flex;
    justify-content: space-around;
}

#body_izq {
    float: left;
    width: 54%;
    height: auto;
    padding: 5px;
    background-color: var(--azulOscuro);
}

#body_izq h2 {
    color: white;
    margin-left: 40px;
    font-size: 30px;
    margin-bottom: 0;
}

#body_dch {
    float: right;
    width: 40%;
    padding: 5px;
    margin-left: 5px;
    font-size: 19px;
}

#publicacion {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#publicacion img {
    margin-inline: 30px;
    width: 150px;
    height: 130px;
    margin-block: 12px;
}

#publicacion i {
    color: white;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 100px;
}

#publicacion_arr {
    display: flex;
    padding: 10px;
}

#publicacion_arr img {
    width: 500px;
    height: 350px;
}

#publicacion_arr #descripcion {
    float: right;
    width: 30%;
    height: auto;
    margin-left: auto;
    padding: 20px;
    background-color: var(--blancoHueso);
}

#publicacion_abj {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 10px;
    justify-content: space-around;
    display: flex;
    padding-block: 5px;
    border: 2px dashed white;
}

#publicacion_abj img {
    width: 100px;
    height: 100px;
}

#body_arr {
    background-color: var(--azulOscuro);
    padding: 8px;
    margin-bottom: 10px;
}

#body_arr > div > div {
    display: flex;
    justify-content: space-around;
}

#contenedorTexto {
    background-color: var(--blancoHueso);
    justify-content: space-around;
    padding-block: 10px;
    padding-inline: 20px;   
}

#body_abj { 
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--azulOscuro);
    padding: 8px;
}

#body_abj > div > div {
    margin: 10px;
}

.editar_datos {
    display: flex;
    height: 32px;
    margin-block: 5px;
}

.editar_datos p {
    margin-right: 40px;
}

.button {
    display: inline-block;
    background-color: var(--azulOscuro); /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 16px;
    padding: 12px 24px; /* Espaciado interno */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el color de fondo y el color del texto */
}

/* Estilo para cuando se pasa el ratón sobre el botón */
.button:hover {
    background-color: #001f3f; /* Cambio de color de fondo al pasar el ratón a un azul más oscuro */
    color: white; /* Cambio de color del texto a blanco */
}

/* Estilo específico para el botón en la página de editar documento */
#body_dch .button {
    display: block;
    margin-top: 20px; /* Añadir margen superior para separar el botón */
    width: 100%; /* Hacer que el botón ocupe todo el ancho disponible */
}