@import "styleS.css";

.paginacentral {
    text-align: center;
    margin-top: 50px; 
}

.paginacentral form {
    margin-bottom: 20px; 
}

.paginacentral h2 {
    font-size: 36px; 
    margin-bottom: 20px; 
}

.paginacentral h4 {
    font-size: 24px; 
    margin-bottom: 30px; 
}

.boton {
    margin-top: 40px;
}

.boton input[type="submit"] {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 20px 40px; 
    font-size: 24px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.boton input[type="submit"]:hover {
    background-color: #0056b3; 
}
