@import "style.css";

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px); 
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px; 
    z-index: 1000; 
    border-radius: 20px;
}

#izq {
    display: flex;
    align-items: center;
}

#logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#cen {
    background-color: var(--azulNormal);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px; 
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.453);
}

#dch {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-size: 45px; 
    text-shadow: 2px 2px 4px rgb(56, 56, 56);
    line-height: 10px;
}

#menu {
    display: none;
}

#label_header {
    box-sizing: border-box;
    display: inline-block;
    border: 3px solid black;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    font-size: 65px; 
    text-align: center;
    user-select: none;
}

.link_menu {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    width: fit-content;
    list-style: none;
    border-bottom: 1px solid grey;
}

.fa-solid {
    color: white !important;
}

body.login-body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1E5E99, #737373);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container {
    position: relative;
}
  
.login-container {
    margin-top: 50px;
    background: linear-gradient(to bottom, #152737, #00325E, #0481F0);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    position: relative;
    width: 450px;
    min-height: 400px; 
    
}

.error-message {
    color: white; 
    background-color: red; 
    text-align: center;
    padding: 10px;
    font-size: 20px; 
    border-radius: 5px; 
    margin: 10px 0; 
}


  
.login-header {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
  
.login-header img {
    width: 150px;
}
  
.form-group {
    margin-bottom: 20px;
    margin-top: 100px;
    display: flex;
    align-items: center; 
}
  
.form-group img {
    width: 30px;
    margin-right: 10px;
}

.form-group input[type="text"] {
    width: calc(100% - 40px);
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1E5E99;
    color: white;
    font-size: 24px; 
}

.form-group2 {
    margin-bottom: 20px;
    margin-top: 25px;
    display: flex;
    align-items: center; 
}
  
.form-group2 img {
    width: 30px;
    margin-right: 10px;
}
  
.form-group2 input[type="email"],
.form-group2 input[type="password"] {
    width: calc(100% - 40px);
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1E5E99;
    color: white; 
    font-size: 24px; 
}
  
.checkbox {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center; 
    margin-top: 10px; 

}
  
.checkbox label {
    margin-right: 10px;
}
  
.checkbox a {
    margin-left: auto;
    text-decoration: none;
    color: white; 
}
  
.checkbox a:hover {
    color: lightblue; 
    text-decoration: underline;
}
  
.login-btn {
    background-color: #0f3057;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 35px; 
    margin-top: 40px;
    text-decoration: none; 
}

.login-btn:hover {
    background-color: #007bff;
}

.login-btn a {
    color: white; 
    text-decoration: none; 
}

.circle {
    position: absolute;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background: linear-gradient(to right, #007bff, #cfd8dc);
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.register-link {
    text-align: center;
    margin-top: 40px;
    color: white; 
}
  
.register-link a {
    color: white; 
    text-decoration: underline; 
}
  
.register-link a:hover {
    color: #86c1ff;
}

.icon-img {
    filter: brightness(0) invert(1);
}

button[type="submit"] {
    display: block; 
    width: 80%; 
    margin: 20px auto; 
    padding: 20px 0; 
    font-size: 24px;
    font-weight: bold;
    color: #fff; 
    background-color: #007BFF; 
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}


