@import "styleS.css";

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-btn {
    background-color: #438ACC;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 24px; 
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    margin: 0 15px; 
}

.tab-btn.active {
    background-color: #88ADCE;
}

.tab-btn:hover {
    background-color: #5b9cf3;
}

.group-works,
.model-3d {
    color: black; 
    font-size: 20px;
    margin-top: 30px; 
    margin-left: 30px; 
}

.group-works h3,
.model-3d h3 {
    color: black;
}

.carousel,
.model-3d .carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.carousel::-webkit-scrollbar,
.model-3d .carousel::-webkit-scrollbar {
    display: none;
}

.work,
.model-3d .work {
    background-color: #184B7A;
    color: white;
    border-radius: 15px; 
    margin-right: 15px; 
    flex: 0 0 auto; 
    width: 300px;
    height: 350px;
}

.work img,
.model-3d .work img {
    display: block; 
    margin: 15px auto 0; 
    width: 95%; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
}

.work-details,
.model-3d .work-details {
    padding: 10px; 
    margin-top: -20px;
    font-size: 16px; 
}

.model-3d .work-title {
    font-weight: bold; 
}
